@page "/"

<h1>Welcome to the ReHealth Application!</h1>

<p>This application provides you with a simple timer allowing you to be reminded whenever you need to stop focusing on work and towards your health.</p>
<p>This also provides a range of exercises demonstrating how to do them correctly so you don't injure yourself and you can filter depending on the equipment you have available.</p>
