@page "/"

<h1>Welcome to the ReHealth Application!</h1>

<p>This application provides you with a simple timer allowing you to be reminded whenever you need to stop focusing on work and towards your health.</p>
<p>This also provides a range of exercises demonstrating how to do them correctly so you don't injure yourself and you can filter depending on the equipment you have available.</p>

<p>Fill in this survey after using ReHealth</p>
<center>
    <iframe width="640px" height="480px" src="https://forms.office.com/r/JUQebX871z?embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
</center>
